<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" label="Openbox 3">
    <item label="Terminal emulator">
      <action name="Execute">
        <execute>x-terminal-emulator</execute>
      </action>
    </item>
    <item label="Thunar">
      <action name="Execute">
        <execute>thunar</execute>
      </action>
    </item>
    <item label="Pad">
      <action name="Execute">
        <execute>mousepad</execute>
      </action>
    </item>
    <item label="PCmanFM">
      <action name="Execute">
        <execute>pcmanfm</execute>
      </action>
    </item>
    <item label="Web browser">
      <action name="Execute">
        <execute>x-www-browser</execute>
      </action>
    </item>
    <!-- This requires the presence of the 'openbox-menu' package to work -->
    <menu id="/Debian"/>
    <separator/>
    <menu id="root-menu-573444" label="Workspaces">
      <item label="Intellj Community">
        <action name="Execute">
          <command>~/opt/idea-IC/bin/idea.sh</command>
        </action>
      </item>
      <separator/>
      <item label="Launchpad">
        <action name="Execute">
          <command>x-terminal-emulator -e " ~/opt/idea-IC/bin/idea.sh ~/workspaces/Launchpad/pom.xml" -t "Intellj"</command>
        </action>
      </item>
      <item label="Printer-OS">
        <action name="Execute">
          <command>code ~/workspaces/Printer-OS</command>
        </action>
      </item>
      <item label="TucoVelox">
        <action name="Execute">
          <command>code ~/workspaces/TucoVelox</command>
        </action>
      </item>
      <item label="Genesis">
        <action name="Execute">
          <command>code ~/workspaces/Genesis</command>
        </action>
      </item>
      <item label="theBugger">
        <action name="Execute">
          <execute>code ~/workspaces/react-blog-github/</execute>
        </action>
      </item>
    </menu>
    <menu id="root-menu-783713" label="Tools">
      <item label="WhatsApp">
        <action name="Execute">
          <command>google-chrome --app=https://web.whatsapp.com/</command>
        </action>
      </item>
      <item label="Slack App">
        <action name="Execute">
          <command>google-chrome --app=https://app.slack.com/client</command>
        </action>
      </item>
      <item label="Screenshot">
        <action name="Execute">
          <execute>flameshot gui</execute>
        </action>
      </item>
    </menu>
    <menu id="goto" label="GoTo">
      <item label="Root">
        <action name="Execute">
          <command>pcmanfm /</command>
        </action>
      </item>
      <item label="Home">
        <action name="Execute">
          <command>pcmanfm /home/mannu</command>
        </action>
      </item>
      <item label="Workspaces">
        <action name="Execute">
          <command>pcmanfm /home/mannu/workspaces</command>
        </action>
      </item>
      <item label="Trash">
        <action name="Execute">
          <command>pcmanfm /home/mannu/.local/share/Trash/files</command>
        </action>
      </item>
    </menu>
    <menu id="root-menu-6738" label="System">
      <menu id="root-menu-1111-1111" label="Display">
        <item label="arandr">
          <action name="Execute">
            <command>arandr</command>
          </action>
        </item>
        <item label="Dublicate DP-1">
          <action name="Execute">
            <command>xrandr  --output DP-1 --same-as eDP-1</command>
          </action>
        </item>
        <item label="Dublicate DP-2">
          <action name="Execute">
            <command>xrandr  --output DP-2 --same-as eDP-1</command>
          </action>
        </item>
        <item label="Dublicate HDMI-1">
          <action name="Execute">
            <command>xrandr  --output HDMI-1 --same-as eDP-1</command>
          </action>
        </item>
        <item label="Dublicate Monitor 0">
          <action name="Execute">
            <command>xrandr --output DisplayPort-0 --same-as eDP</command>
          </action>
        </item>
        <item label="Dublicate Monitor 1">
          <action name="Execute">
            <command>xrandr --output DisplayPort-1 --same-as eDP</command>
          </action>
        </item>
      </menu>
      <menu id="root-menu-6738-25835" label="Sound">
        <item label="Pavu Control">
          <action name="Execute">
            <execute>pavucontrol</execute>
          </action>
        </item>
      </menu>
      <menu id="root-menu-585451" label="Network">
        <item label="networkmanager-tui">
          <action name="Execute">
            <execute>x-terminal-emulator -e nmtui</execute>
          </action>
        </item>
        <item label="MAC Address">
          <action name="Execute">
            <command>x-terminal-emulator -e "ip link show &amp;&amp; read"</command>
          </action>
        </item>
      </menu>
      <menu id="new_id" label="Disk">
        <item label="Show disks">
          <action name="Execute">
            <command>x-terminal-emulator -e "sudo fdisk -l &amp;&amp; read"</command>
          </action>
        </item>
        <menu id="mounter_1" label="Mounter" execute="python3 ~/.config/openbox/pipemenu/usb.py"/>
      </menu>
      <menu id="mount_menu_1" label="Date Time" execute="python3 ~/.config/openbox/pipemenu/date-menu.py"/>
    </menu>
    <menu id="appendix" label="Appendix">
      <item label="Most Popular Debian Packages">
        <action name="Execute">
          <command>google-chrome --app=https://screenshots.debian.net/packages</command>
        </action>
      </item>
    </menu>
    <menu execute="/usr/bin/obamenu" id="applications-menu" label="Applications"/>
    <separator/>
    <item label="ObConf">
      <action name="Execute">
        <execute>obconf</execute>
      </action>
    </item>
    <item label="Obmenu">
      <action name="Execute">
        <execute>~/opt/obmenu3/usr/bin/obmenu3</execute>
      </action>
    </item>
    <item label="Reconfigure">
      <action name="Reconfigure"/>
    </item>
    <item label="Restart">
      <action name="Restart"/>
    </item>
    <separator/>
    <item label="Exit">
      <action name="Exit"/>
    </item>
    <item label="Reboot">
      <action name="Execute">
        <execute>systemctl reboot</execute>
      </action>
    </item>
    <item label="Power Off">
      <action name="Execute">
        <execute>systemctl poweroff</execute>
      </action>
    </item>
  </menu>
</openbox_menu>
